body {
    background-image: url(Fonnieñes.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 90vh;
    margin: 0;
}

.texto1 {
    color: #18ecec;
    margin: 20px auto;
    width: 80%;
    max-width: 600px;
}

.imagen1 {
    margin: 20px auto;
    width: 80%;
    max-width: 600px;
    margin-right: 10000px;
}

.imagen1 img {
    width: 45%;
    margin-right: 100px;
    height: auto;
    border: 5px solid #0ff;
    border-radius: 10px;
    box-shadow: 0 0 20px #0ff;
}

h1 {
    color: #0ff;
    text-shadow: 0 0 10px #0ff;
}


.proce {
    color: black;
    text-align: left;
}

a {
    text-align: bottom;
    color: rgb(40, 164, 236);
    font-size: 15px;
}